<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ config.SITE_NAME }} status</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>

<div class="vh-100 bg-dark">
    <div class="vh-100 d-flex flex-column justify-content-center align-items-center">

        <div class="">
            <div class="btn btn-lg btn-success rounded-pill">
                <h1>
                    {{ config.SITE_NAME }}
                </h1>
            </div>
        </div>

        <div class="card card bg-dark text-light border-secondary mt-4 container-sm">
            <div class="card-body">
                <h4 class="card-title">System info :</h4>

                <div class="d-flex flex-row w-100 mt-3">
                    <p class="align-middle">CPU :</p>

                    <div class="progress ms-auto w-75" style="margin-top: 3px">
                        <div class="progress-bar bg-info" style="width: {{ system.cpu_pc }}%" role="progressbar"
                             aria-valuenow="{{ system.cpu_pc }}" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                </div>

                <div class="d-flex flex-row w-100 mt-3">
                    <p class="align-middle">Memory :</p>

                    <div class="progress ms-auto w-75" style="margin-top: 3px">
                        <div class="progress-bar bg-info" style="width: {{ system.mem_pc }}%" role="progressbar"
                             aria-valuenow="{{ system.mem_pc }}" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                </div>

                <div class="d-flex flex-row w-100 mt-3">
                    <p class="align-middle">Disk :</p>

                    <div class="progress ms-auto w-75" style="margin-top: 3px">
                        <div class="progress-bar bg-info" style="width: {{ system.disk_used_pc }}%" role="progressbar"
                             aria-valuenow="{{ system.disk_used_pc }}" aria-valuemin="0" aria-valuemax="100">
                            {{ system.disk_used|humanize_naturalsize }} / {{ system.disk_total|humanize_naturalsize }}
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>


</body>
</html>